<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArSX2G7gvC7YP8L_ppWk9p2GXOBn1keaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>925505132840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mrabdelrazek</string>
	<key>PROJECT_ID</key>
	<string>mr-abd-elrazek</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-abd-elrazek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925505132840:ios:e4f05d4038c230fdd9981d</string>
</dict>
</plist>